* {
  font-family: Myriad !important;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.senses_txt_img {
  width: 65%;
  position: fixed;
  top: 10%;
  left: 5%;
}

.play_btn {
  position: fixed;
  bottom: 30%;
  left: 50%;
  width: 10%;
  cursor: pointer;
  z-index: 9;
}

.play_btn:active {
  border-radius: 50%;
  transform: scale(0.95);
}

.mute_btn {
  width: 5%;
  position: fixed;
  position: fixed;
  z-index: 101010;
  bottom: 50%;
  left: 1%;
  cursor: pointer;
}

.mute_btn:active {
  border-radius: 50%;
  transform: scale(0.95);
}

.intro_lottie_container {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}
