.Scene2_lottie_container {
  position: fixed;
  bottom: 0;
  left: 5%;
  height: 70%;
  width: 40%;
  overflow: hidden;
}

.welldone_lottie_container {
  position: fixed;
  bottom: 15%;
  left: 13%;
  width: 30%;
  z-index: 3;
}
.welldone_animation {
  position: fixed;
  top: 5%;
  right: 0%;
  z-index: 1;
  width: 85%;
}

.trunky_podium {
  position: fixed;
  bottom: 0;
  left: 5%;
  width: 40%;
  z-index: 2;
}

.next {
  position: fixed;
  right: 5%;
  bottom: 5%;
  width: 6%;
  z-index: 5456456;
}

.next_wellDone {
  position: fixed;
  right: 43%;
  bottom: 5%;
  width: 10%;
  z-index: 5456456;
}
